<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.80.0">
    <title>Be Viewer</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/sticky-footer/">

    

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='sticky-footer.css') }} rel="stylesheet">
  </head>
  <body class="d-flex flex-column h-100">
    
    <!-- Begin page content -->
    <main class="flex-shrink-0">
        <div class="container">
            <img src="{{ url_for('static', filename='shelyak.png') }}" class="rounded mx-auto d-block" alt="logo">
            <h1 class="mt-5">Bienvenue sur notre visualiseur de spectres BeViewer</h1>
            <p class="lead">Sléectionnez votre visualiseur de spectres, simple ou multiple.</p>
            <a href="/"><button type="button" class="btn btn-primary">Accueil</button></a>
            <a href="/simpleviewer"><button type="button" class="btn btn-success">Simple Viewer</button></a>
            <a href="multipleviewer"><button type="button" class="btn btn-warning">Multiple Viewer</button></a>
            <a href="/timeseriesviewer"><button type="button" class="btn btn-danger">Timeseries Viewer</button></a>
            <a href="/about"><button type="button" class="btn btn-secondary">À propos</button></a>

            <br/><br/><br/>


            <div class="mb-3">
                <p class="h5">Simple Viewer</p>
                    <form method=post enctype=multipart/form-data>
                    <input class="form-control" type="file" name=file id="formFile">
                    <br/>
                    <input type=submit value=Upload class="btn btn-warning">
                </form>
            </div>

            <!-- Affichage des données Flask ici -->
            {% if plot %}
            {{plot|safe}}
            {% else %}
            <p>No plot</p>
            {% endif %}


        </div>
    </main>



    <footer class="footer mt-auto py-3 bg-light">
    <div class="container">
        <span class="text-muted">Workshop Python N°2 - Application flask</span>
    </div>
    </footer>


    
  </body>
</html>
